.card-item {
    &.disabled {
        .image,
        .icon {
            a {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    > a {
        color: @color-black;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: @color-text;
        }
    }
    .image,
    .icon {
        a {
            transition: opacity 250ms;
            &:hover {
                opacity: .9;
            }
        }
    }
    .image {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
        a {
            transition: opacity 250ms;
            &:hover {
                opacity: .9;
            }
        }
    }
    .icon {
        text-align: center;
        margin-bottom: 25px;
    }
    .info {
        margin: 0;
    }
    .name {
        // font-size: 2rem;
        // font-weight: bold;
        line-height: 1;
        margin: 0;
    }
    .description,
    .list,
    .action {
        // font-size: 2rem;
        // font-family: @font-content;
        line-height: 1;
    }
    .list {
        padding-left: 2em;
        margin: 0;
        li {
            padding-left: .6em;
            & + li {
                margin-top: 10px;
            }
        }
    }
    .button {
        
    }
    @media @md-min {
        .name  {
            // font-size: 1.4rem;
        }
        .description,
        .list,
        .action {
            // font-size: 1.4rem;
        }
    }
}


.slick-slider {
    margin: 0;
    &.slick-dotted {
        margin-bottom: 0;
    }
    .slide-item {
        img {
            /* max-width: 100%; */
        }
    }
    
}
.slick-slide {
    outline: none !important;
    .image {
        img {
            width: 100%;
        }
    }
    a {
        outline: none !important;
    }
}

.slick-arrow {
    font-size: 24px;
    width: 30px;
    height: 30px;
    opacity: .8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    .transition(opacity, 250ms, ease);
    z-index: 5;
    &:hover {
        opacity: .7;
    }
    &:focus, &:active {
        outline: none;
    }
    &:before {
        display: none;
    }
    &.slick-prev {
        left: 15px;
    }
    &.slick-next {
        right: 15px;
    }
}

.slick-dots {
    font-size: 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding: 0;
    margin: 0;
    pointer-events: none;
    .clearfix();

    li {
        width: auto;
        height: auto;
        padding: 5px;
        margin: 0 5px;
        display: inline-block;
        pointer-events: all;
        button {
            font-size: 0;
            text-indent: -9999;
            background: @color-blue;
            height: 10px;
            width: 10px;
            border: none;
            border-radius: 50%;
            padding: 0;
            outline: none;
            transition: 250ms;
            &:before {
                display: none;
            }
            &:hover {
                background: @color-red;
            }
        }
        &.slick-active {
            button {
                background: @color-red;
            }
        }
    }
    @media @xs {
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: 20px;
        li {
            padding: 3px;
            button {
                // height: 3px;
                // width: 25px;
            }
        }
    }
    @media @sm {
        bottom: 20px;
    }
    @media @md-min {
        bottom: 30px;
        li {
            margin: 0 7px;
        }
    }
}

.button-arrow {
    color: @color-text;
    font-size: 1.4rem;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    padding: 0;
    top: 50%;
    // bottom: 10px;
    transform: translateY(-50%);
    img {
        margin-top: -.2em;
        // opacity: .3;
        width: auto;
        max-width: 100%;
    }
    span {
        display: inline-block;
        margin: 0 10px;
    }
    &:hover {
        opacity: .5;
    }
    &.arrow2 {
        width: 45px;
        height: 45px;
    }
    &.button-prev {
        // left: 10px;
        left: 0;
        &.arrow2 {
            left: auto;
            right: 100%;
        }
    }
    &.button-next {
        // right: 10px;
        right: 0;
        &.arrow2 {
            right: auto;
            left: 100%;
        }
    }
    @media @xs {
        height: 40px;
        width: 40px;
        &.arrow2 {
            width: 30px;
            height: 30px;
        }
    }
    @media @sm {
        height: 40px;
        width: 40px;
    }
}


.slider-control {
    .slick-arrow {
        color: @color-text;
        font-size: 24px;
        background: none;
        border: none;
        height: 35px;
        outline: none;
        background-color: fade(#f9f9f9, 30%);
        .transition();
        &:hover {
            opacity: .7;
        }
    }

    @media @xs {
        .slick-arrow {
            font-size: 18px;
            line-height: 30px;
            height: 30px;
        }
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
.map {
    position: relative;
    iframe {
        width: 100%;
        max-width: initial;
    }
}