/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-size: 10px;
    font-family: @font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}
body {
    color: @color-black;
    font-size: 1.4rem;
    font-family: @font;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;

    // @media @xs {
    //     padding-top: 55px;
    // }
}

body * {
    font-family: @font !important;
    font-size: 16px;
}

/* @media @xs {
    body, html {
        position: static !important;
    }
} */

a {
    // color: darken(@color-text, 10%);
    // text-decoration: none;
    // -webkit-transition: 250ms;
    // -moz-transition: 250ms;
    // transition: 250ms;
    // &:hover { 
    //     color: darken(@color-text, 20%);
    // };
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}