<template>
  <div id="baseFooter">
    <hr>
    <sui-container>
      <div class="row">
        <div class="column">
          <h4>Company</h4>
          <p :key="index" v-for="(item, index) in company">{{ item }}</p>
        </div>
        <div class="column">
          <h4>How to use</h4>
          <p :key="index" v-for="(item, index) in howToUse">{{ item }}</p>
        </div>
        <div class="column">
          <h4>Services</h4>
          <p :key="index" v-for="(item, index) in services">{{ item }}</p>
        </div>
        <div class="column">
          <h4>Members</h4>
          <p :key="index" v-for="(item, index) in member">{{ item }}</p>
        </div>
        <div class="column">
          <h4>Resources</h4>
          <p :key="index" v-for="(item, index) in resources">{{ item }}</p>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="column" style="justify-contents: center; align-items: center;">
          <label><font-awesome-icon :icon='["fab", "facebook"]' style="font-size: 20px; margin: 0 4px;"/><font-awesome-icon :icon='["fab", "instagram"]' style="font-size: 20px; margin: 0 4px;" /><font-awesome-icon :icon='["fab", "twitter"]' style="font-size: 20px; margin: 0 4px;" /><font-awesome-icon :icon='["fab", "youtube"]' style="font-size: 20px; margin: 0 px;" /></label>
        </div>
      </div>
      <div class="row" style="margin: 0 0 50px 0;">
        <div class="column" style="justify-contents: center; align-items: center;">
          <p>Mhao Mhao © 2018 • Privacy Policy</p>
        </div>
      </div>
    </sui-container>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
export default {
  components: {
    FontAwesomeIcon
  },
  data () {
    return {
      company: [
        'About',
        'Career',
        'Contact',
        'Privacy & Policy'
      ],
      howToUse: [
        'Auction System / Rules',
        'Hire Appraiser',
        'Hire Harvester',
        'Hire Transport',
        'Help Center'
      ],
      services: [
        'Auction',
        'Appraiser',
        'Harvester',
        'Transport',
        'Standard'
      ],
      member: [
        'Buyer List',
        'Seller List',
        'Appraiser List',
        'Harvester List',
        'Transport List'
      ],
      resources: [
        'Marketing Data',
        'News',
        'Knowledge'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
#baseFooter {
  margin-top: 50px;
}
hr {
  margin-bottom: 50px;
  color: #f3f3f3;
  border-top: 1px solid #f3f3f3;
}
h4 {
  font-size: 18px;
}
p {
  margin-bottom: 3px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}
</style>
