<template>
  <div id="baseHeader">
    <sui-menu class="navbar" borderless fixed inverted>
      <sui-container>
        <a
          class="logo-title"
          is="sui-menu-item"
          content="เหมาเหมา"
          style="font-size: 24px; font-weight: 500;"
        />
        <a
          is="sui-menu-item"
          :key="index"
          v-for="(item, index) in menu"
          :content="item"
        />
        <sui-menu-menu position="right">
          <a
            is="sui-menu-item"
            content="เข้าสู่ระบบ | ลงทะเบียน"
          />
          <a is="sui-menu-item">
            <img class="lang-icon" src="../assets/icons/th.svg">
            &nbsp;
            <img class="lang-icon" src="../assets/icons/gb.svg">
          </a>
        </sui-menu-menu>
      </sui-container>
    </sui-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      menu: [
        'ประมูล',
        'วิธีประมูล',
        'สวนผลไม้',
        'บริการ',
        'บทความ',
        'ติดต่อเรา'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .navbar {
    height: 70px;
  }
  .logo-title {
    color: #fda03e !important;
  }
  .lang-icon {
    // padding: 0px 5 px;
    width: 25px !important;
  }
  a {
    font-weight: 500 !important;
  }
</style>
