<template>
  <div id="basePage">
    <base-header></base-header>
    <slot></slot>
    <base-footer></base-footer>
  </div>
</template>

<script>
import BaseHeader from './base-header'
import BaseFooter from './base-footer'
export default {
  components: {
    BaseHeader,
    BaseFooter
  }
}
</script>

<style lang="scss" scoped>
</style>
