<template>
  <div>
    <button @click="createUser()">create</button>
  </div>
</template>
<script>
import User from '@/models/User'
import { userCollection } from '@/api/db'
export default {
  methods: {
    createUser () {
      console.log(User.create())
      console.log(User.create({
        firstName: 'hello',
        lastName: 'hello'
      }))
      userCollection.doc().set(User.create({
        firstName: 'Wuttipong',
        lastName: 'Khemphet'
      }))
    }
  }
}
</script>
