<template>
  <section class="container">
    <base-page>
      <carousel-section/>
      <graph-section/>
      <news-section/>
      <services-section/>
      <advertising-section/>
      <sponsors-section/>
    </base-page>
  </section>
</template>

<script>
import BasePage from '~/components/base-page.vue'
import CarouselSection from '~/components/homepage/carousel-section.vue'
import GraphSection from '~/components/homepage/graph-section.vue'
import NewsSection from '~/components/homepage/news-section.vue'
import ServicesSection from '~/components/homepage/services-section.vue'
import AdvertisingSection from '~/components/homepage/advertising-section.vue'
import SponsorsSection from '~/components/homepage/sponsors-section.vue'
export default {
  components: {
    BasePage,
    CarouselSection,
    GraphSection,
    NewsSection,
    ServicesSection,
    AdvertisingSection,
    SponsorsSection
  },
  methods: {

  }
}
</script>

<style scoped>
</style>
