<template>
  <div id="advertisingSection">
    <div class="row">
      <div class="column">
        <img src="../../assets/images/mango.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/pineapple.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/tomato.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/mangosteen.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/guava.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../assets/images/orange.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/rambutan.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/longan.jpg" />
      </div>
      <div class="column">
        <img src="../../assets/images/watermelon.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/corn.jpg" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
#advertisingSection {
  // padding-top: 50px;
}
img {
  object-fit: contain;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  height: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}
</style>
