<template>
  <div id="carouselSection">
    <div class="mock-carousel">
      <h1>เหมาเหมา</h1>
      <p>Some Slogan for Mhao Mhao</p>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  color: white;
  font-size: 90px;
  font-weight: 500;
  padding-top: 10px;
}
p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-top: -30px;
}
.mock-carousel {
  margin-top: 70px;
  height: 500px;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
