<template>
  <div id="graphSection">
    <sui-container>
      <!-- <div class="row">
        <div class="column" style="flex-basis: 30% !important;">
          <h1>Market Summary</h1>
        </div>
        <div class="column" style="flex-basis: 70% !important;">
          <sui-card-group :items-per-row="1">
            <sui-card>
              <sui-card-content>
                <div class="card-title">
                  <label class="title">Fruit Market</label>
                  <br class="seperator">
                  <label class="index">1245.85</label>
                  <label class="plus">+20.25 (2.99%)</label>
                  <br>
                  <label class="time">August 15, 17:05 PM</label>
                </div>
                <div class="card-options">
                  <sui-menu pointing secondary>
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="1 day"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="3 days"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="5 days"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="1 week"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="1 month"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="3 month"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="1 year"
                    />
                    <a class="menu-item"
                      is="sui-menu-item"
                      content="Max"
                    />
                  </sui-menu>
                </div>
                <line-chart :height="200"></line-chart>
              </sui-card-content>
            </sui-card>
          </sui-card-group>
        </div>
      </div> -->
      <div class="header" style="text-align: center;">
        <h1 style="text-align: center; font-weight: 500; font-size: 40px;">ตลาดประมูลสินค้าการเกษตร</h1>
        <h2 style="margin-top: 0px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">ฟลุท เพรียวบางเกจิ ซิงโมเดิร์นไฮไลท์โลโก้ เก๊ะโต๊ะจีน คลิปซาร์แมกกาซีน ริกเตอร์ แมมโบ้นอมินีว่ะเพลซโหลน</h2>
        <h2 style="margin-top: -10px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">สเปกหมวยโอเพ่น แซวติ๋มแรลลี่อาว์ดีพาร์ตเมนต์ แพ็คไงมิลค์บ็อกซ์ล็อต</h2>
        <sui-button color="orange" size="big" content="เข้าร่วมการประมูลสินค้า" style="background-color: #fda03e; margin-top: 16px; margin-bottom: 56px; font-size: 2.0rem;" />
      </div>
      <!-- <sui-card-group :items-per-row="2">
        <sui-card>
          <sui-card-content>
            <div class="card-title">
              <label class="title">ตลาดผลไม้</label>
              <br class="seperator">
              <label class="index">1245.85</label>
              <label class="plus">+20.25 (2.99%)</label>
              <br>
              <label class="time">August 15, 17:05 PM</label>
            </div>
            <div class="card-options">
              <sui-menu pointing secondary>
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 day"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="3 days"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="5 days"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 week"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 month"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="3 month"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 year"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="Max"
                />
              </sui-menu>
            </div>
            <line-chart :height="200"></line-chart>
          </sui-card-content>
        </sui-card>
        <sui-card>
          <sui-card-content>
            <div class="card-title">
              <label class="title">ตลาดผัก</label>
              <br class="seperator">
              <label class="index">1245.85</label>
              <label class="minus">-20.25 (2.99%)</label>
              <br>
              <label class="time">August 15, 17:05 PM</label>
            </div>
            <div class="card-options">
              <sui-menu pointing secondary>
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 day"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="3 days"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="5 days"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 week"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 month"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="3 month"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="1 year"
                />
                <a class="menu-item"
                  is="sui-menu-item"
                  content="Max"
                />
              </sui-menu>
            </div>
            <line-chart :height="200"></line-chart>
          </sui-card-content>
        </sui-card>
      </sui-card-group> -->
    </sui-container>
  </div>
</template>

<script>
import BarChart from './bar-chart.js'
import LineChart from './line-chart.js'
export default {
  components: {
    BarChart,
    LineChart
  }
}
</script>

<style lang="scss" scoped>
#graphSection {
  padding-top: 80px;
  padding-bottom: 50px;
}
h1 {
  padding-bottom: 16px;
}
.card-title {
  padding-top: 20px;
  > .title {
    padding-left: 8px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }
  .seperator {
    margin-bottom: 2px;
  }
  > .index {
    padding-left: 8px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
  }
  > .plus {
    margin-left: 16px;
    font-size: 16px;
    color: green;
  }
  > .minus {
    margin-left: 16px;
    font-size: 16px;
    color: red;
  }
  > .time {
    padding-left: 8px;
    font-size: 14px;
    color: #a3a3a3;
  }
}
.card-options {
  margin-top: -8px;
  padding-bottom: 24px;
  .menu-item {
    font-size: 12px;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
</style>
