<template>
  <div id="newsSection">
    <sui-container>
      <div class="header" style="text-align: center; margin-bottom: 48px;">
        <h1 style="font-size: 40px; font-weight: 500; margin-bottom: 24px;">ข่าวสาร และ บทความ</h1>
        <h2 style="margin-top: 0px; color: #868e96; text-align: center; font-weight: 300; font-size: 20px;">โมเดิร์นเอนทรานซ์โกะสแล็กโชว์รูม ปาสคาลเคลียร์ เทอร์โบเรซิ่นสไตล์ โบว์ลิ่งไฮเปอร์ตื้บ</h2>
        <h2 style="margin-top: -10px; color: #868e96; text-align: center; font-weight: 300; font-size: 20px;">ฟลุท เพรียวบางเกจิ ซิงโมเดิร์นไฮไลท์โลโก้ เก๊ะโต๊ะจีน คลิปซาร์แมกกาซีน</h2>
        <!-- <sui-button color="orange" size="big" content="เข้าสู่หน้าบทความ" style="background-color: #fda03e; margin-bottom: 56px;" /> -->
      </div>
      <sui-card-group :items-per-row="4">
        <sui-card>
          <sui-image :src="getImageUrl('mango')" />
          <sui-card-content>
            <sui-card-header>Mango Article</sui-card-header>
            <sui-card-meta>Aug 15, 2018</sui-card-meta>
            <sui-card-description>
              <p>Many people also have their own barometers for what makes a cute dog.</p>
            </sui-card-description>
          </sui-card-content>
        </sui-card>
        <sui-card>
          <sui-image :src="getImageUrl('corn')" />
          <sui-card-content>
            <sui-card-header>Corn Article</sui-card-header>
            <sui-card-meta>Aug 13, 2018</sui-card-meta>
            <sui-card-description>
              <p>Many people also have their own barometers for what makes a cute dog.</p>
            </sui-card-description>
          </sui-card-content>
        </sui-card>
        <sui-card>
          <sui-image :src="getImageUrl('orange')" />
          <sui-card-content>
            <sui-card-header>Orange Article</sui-card-header>
            <sui-card-meta>Aug 10, 2018</sui-card-meta>
            <sui-card-description>
              <p>Many people also have their own barometers for what makes a cute dog.</p>
            </sui-card-description>
          </sui-card-content>
        </sui-card>
        <sui-card>
          <sui-image :src="getImageUrl('tomato')" />
          <sui-card-content>
            <sui-card-header>Orange Article</sui-card-header>
            <sui-card-meta>Aug 10, 2018</sui-card-meta>
            <sui-card-description>
              <p>Many people also have their own barometers for what makes a cute dog.</p>
            </sui-card-description>
          </sui-card-content>
        </sui-card>
      </sui-card-group>
      <div style="text-align: center;">
        <sui-button color="orange" size="big" content="อ่านบทความอื่นๆ" style="background-color: #fda03e; margin-top: 48px; font-size: 2.0rem;" />
      </div>
    </sui-container>
  </div>
</template>

<script>
export default {
  methods: {
    getImageUrl (image) {
      return require('../../assets/images/' + image + '.jpg')
    }
  }
}
</script>

<style lang="scss" scoped>
#newsSection {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}
hr {
  height: 1px;
  color: #fda03e;
  background-color: #fda03e;
  border: none;
}
</style>
