<template>
  <div id="servicesSection">
    <sui-container>
      <div class="header" style="text-align: center;">
        <h1 style="text-align: center; font-weight: 500; font-size: 40px;">บริการของเรา</h1>
        <h2 style="color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">ฟลุท เพรียวบางเกจิ ซิงโมเดิร์นไฮไลท์โลโก้ เก๊ะโต๊ะจีน คลิปซาร์แมกกาซีน ริกเตอร์ แมมโบ้นอมินีว่ะเพลซโหลน</h2>
        <h2 style="margin-top: -10px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">สเปกหมวยโอเพ่น แซวติ๋มแรลลี่อาว์ดีพาร์ตเมนต์ แพ็คไงมิลค์บ็อกซ์ล็อต</h2>
        <!-- <sui-button color="orange" size="big" content="เข้าร่วมการประมูลสินค้า" style="background-color: #fda03e; margin-top: 8px; margin-bottom: 56px;" /> -->
      </div>
      <div class="row">
        <div class="column">
          <sui-icon size="huge" name="home" />
          <h4>Service 1</h4>
          <p style="text-align: center; font-weight: 300;">อึ๋มว้อดก้าแฟร์เทควันโดสถาปัตย์ อยุติธรรม พะเรอผลไม้เปราะบาง ราชบัณฑิตยสถานยูวีเดชานุภาพ ดราม่า สต็อกฟินิกซ์ก๊วน เซ่นไหว้สเกตช์อิกัวนาบอยคอตโหลน </p>
        </div>
        <div class="column">
          <sui-icon size="huge" name="phone" />
          <h4>Service 2</h4>
          <p style="text-align: center; font-weight: 300;">อึ๋มว้อดก้าแฟร์เทควันโดสถาปัตย์ อยุติธรรม พะเรอผลไม้เปราะบาง ราชบัณฑิตยสถานยูวีเดชานุภาพ ดราม่า สต็อกฟินิกซ์ก๊วน เซ่นไหว้สเกตช์อิกัวนาบอยคอตโหลน </p>
        </div>
        <div class="column">
          <sui-icon size="huge" name="bug" />
          <h4>Service 3</h4>
          <p style="text-align: center; font-weight: 300;">อึ๋มว้อดก้าแฟร์เทควันโดสถาปัตย์ อยุติธรรม พะเรอผลไม้เปราะบาง ราชบัณฑิตยสถานยูวีเดชานุภาพ ดราม่า สต็อกฟินิกซ์ก๊วน เซ่นไหว้สเกตช์อิกัวนาบอยคอตโหลน </p>
        </div>
        <div class="column">
          <sui-icon size="huge" name="lemon outline" />
          <h4>Service 4</h4>
          <p style="text-align: center; font-weight: 300;">อึ๋มว้อดก้าแฟร์เทควันโดสถาปัตย์ อยุติธรรม พะเรอผลไม้เปราะบาง ราชบัณฑิตยสถานยูวีเดชานุภาพ ดราม่า สต็อกฟินิกซ์ก๊วน เซ่นไหว้สเกตช์อิกัวนาบอยคอตโหลน </p>
        </div>
      </div>
      <div style="text-align: center;">
        <sui-button color="orange" size="big" content="บริการอื่นๆ" style="background-color: #fda03e; margin-top: 48px; font-size: 2.0rem;" />
      </div>
    </sui-container>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
#servicesSection {
  padding-top: 80px;
  padding-bottom: 100px;
}
h4 {
  font-weight: 500;
}
.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
</style>
