<template>
  <div id="sponsorsSection">
    <sui-container>
      <!-- <div class="row">
        <div class="column">
          <h1>ผู้สนับสนุน</h1>
        </div>
      </div> -->
      <div class="row">
        <div class="column">
          <img src="../../assets/images/doae_logo.jpg" />
        </div>
        <div class="column">
          <img src="../../assets/images/moac_logo.jpg" />
        </div>
        <div class="column">
          <img src="../../assets/images/dbd_logo.jpg" />
        </div>
        <div class="column">
          <img src="../../assets/images/ku_logo.png" />
        </div>
      </div>
    </sui-container>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
#sponsorsSection {
  margin-top: 50px;
}
img {
  object-fit: contain;
  width: 100%;
  height: 100px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
</style>
