<template>
  <div id="tableSection">
    <sui-container>
      <div class="row">
        <div class="column" v-for="n in 3">
          <sui-table celled :color="colors[n - 1]">
            <sui-table-header full-width>
              <sui-table-row>
                <sui-table-header-cell colspan="4"><sui-icon :name="icons[n - 1]" />{{ titles[n - 1]}}</sui-table-header-cell>
              </sui-table-row>
            </sui-table-header>
            <sui-table-body>
              <sui-table-row>
                <sui-table-cell>Date/Time</sui-table-cell>
                <sui-table-cell>Rate</sui-table-cell>
                <sui-table-cell>Volume</sui-table-cell>
              </sui-table-row>
              <sui-table-row>
                <sui-table-cell>15 Minutes Ago</sui-table-cell>
                <sui-table-cell>3,500,000</sui-table-cell>
                <sui-table-cell>100,000</sui-table-cell>
              </sui-table-row>
              <sui-table-row>
                <sui-table-cell>6 Hours Ago</sui-table-cell>
                <sui-table-cell>590,000</sui-table-cell>
                <sui-table-cell>25,000</sui-table-cell>
              </sui-table-row>
              <sui-table-row>
                <sui-table-cell>Aug 14, 2018</sui-table-cell>
                <sui-table-cell>1,400,200</sui-table-cell>
                <sui-table-cell>69,000</sui-table-cell>
              </sui-table-row>
            </sui-table-body>
          </sui-table>
        </div>
      </div>
      <!-- <sui-card-group :items-per-row="3">
        <sui-card v-for="n in 3">
          <sui-card-content>
            <sui-table celled>
              <sui-table-header>
                <sui-table-row>
                  <sui-table-header-cell>Date</sui-table-header-cell>
                  <sui-table-header-cell>Rate</sui-table-header-cell>
                  <sui-table-header-cell>Volume</sui-table-header-cell>
                </sui-table-row>
              </sui-table-header>

              <sui-table-body>
                <sui-table-row>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                </sui-table-row>
                <sui-table-row>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                </sui-table-row>
                <sui-table-row>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                  <sui-table-cell>Cell</sui-table-cell>
                </sui-table-row>
              </sui-table-body>
            </sui-table>
          </sui-card-content>
        </sui-card>
      </sui-card-group> -->
    </sui-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      icons: ['fire', 'dollar sign', 'dollar sign'],
      titles: ['Latest Trades', 'Auction Orders', 'Bid Orders'],
      colors: ['red', 'green', 'blue']
    }
  }
}
</script>

<style lang="scss" scoped>
#tableSection {
  margin-bottom: 100px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 8px;
  &:first-child {
    margin-left: 0px;
    margin-right: 8px;
  }
  &:last-child {
    margin-left: 8px;
    margin-right: 0px;
  }
}
</style>
